

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  float: left;
  width: 30%;
}

.sec {
  float: right;
  width: 70%;
  font-size: 16px;
  padding-top: 20px;
}

.sidebar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 50%;
  height: 300px;
}

#name {
  font-size: 30px;
}

#title{
  font-size: 24px
}

/*
  ========================================
  Typography
  ========================================
*/

.sidebar h1, p {
  text-align: center;
  color: black;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 12px;
}

.sec h1 {
  text-align: left;
  color: #BF496B;
  padding-bottom: 6px;
  border-bottom: 4px dotted rgb(211,211,211);
  margin-bottom: 12px;
  margin-right: 30px;
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sec p {
  text-align: left;
  color: #A2A2A2;
  margin: 0 1.5%;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style: circle;
}

li {
  padding:6px;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  About me
  ========================================
*/

.about_me p {
  padding-bottom: 20px;
}

.about_me article {
  padding:5% 2%;
}

/*
  ========================================
  Work
  ========================================
*/

.work .frame:before,
.work .frame:after {
  content: "";
  display: table;
}
.work .frame:after {
  clear: both;
}
.work .frame {
  clear: both;
  *zoom: 1;
  height: 300px;
  padding-bottom: 50px;
}

.work .description {
  float: left;
  width: 62%;
  padding-top: 30px;
  padding-left: 15px;
  border-top: solid #A2A2A2 1px;
}

#QMUL .description {
  border-top: none;
}

.work .logo {
  float: right;
  width: 27%;
  height: 100%;
  position: relative;
}

.work img {
  max-width: 45%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#QMUL img {
  max-width: 65%;
}

/*
  ========================================
  Projects
  ========================================
*/

.proj_place:before,
.proj_place:after {
  content: "";
  display: table;
}
.proj_place:after {
  clear: both;
}
.proj_place {
  clear: both;
  *zoom: 1;
}

.proj_des {
  float: right;
  width: 60%;
}

.projects .des {
  padding: 30px;
}

.projects .skill {
  padding: 0 30px;
}

.proj_figure {
  float: left;
  margin: 0 1.5%;
  width: 30%;
}

.proj_figure img {
  display: block;
  /*max-width: 100%*/
  width:300px;
  padding: 30px;
  vertical-align:middle;
}

/*
  ========================================
  Publications
  ========================================
*/

.publications a {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.publications ul {
  padding: 5% 2%;
  color: #A2A2A2;
}

.publications li a {
  color: #49bf9d;
}

.int_links {
  color: #49bf9d;
  /*font-size: 20px;*/
}

.ext_links {
  color: #49bf9d;
  /*font-size: 14px;*/
}

/* makes the paragraphs line up with the links in the projects section 
.projects p {
  display: inline;
}
*/


/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  margin: 4px;
  padding: 4px;
  border: 1px solid #49bf9d;
  border-radius: 5px;
  display: inline-block;
}

#resume {
  margin: 4px;
  padding: 4px;
  border: 1px solid #49bf9d;
  border-radius: 5px;
  color: #49bf9d;
}